/* css */

body {
  font-family: "DM Sans", sans-serif;
}

button{
    background-color: transparent;
    border-color: transparent;
}

input, label{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}
input{
    border: none;
    border-radius: 10%;
}

#bgcol{
    background-color: #C1BDB3;
}

.headline{
    margin-top: 5rem;
}

.contentheader{
    margin-top: 3rem;
}

.contenttext{
    margin-top: 3rem;
    font-size:large;
}

.mediacol{
    margin-top: 3rem ;
}

.report, .time{
    margin-top: 2rem;
}
.recs{
    margin-top: 3rem;
}

#downArrow, #upArrow{
    position: absolute;
    bottom: 60%;
}

#task1, #task2, #task3, #task4, #task5, #task6{
    display: none;
}

.BtnStyle{
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 1rem;
}

.SUS-btn{
    background-color: grey;
}
