/* css */

body {
  font-family: "DM Sans", sans-serif;
}

button{
    background-color: transparent;
    border-color: transparent;
}

input, label{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

#bgcol{
    background-color: #C1BDB3;
}

.headline{
    margin-top: 5rem;
}

.contentheader{
    margin-top: 5rem;
}

.contenttext{
    margin-top: 3rem;
    font-size:large;
}

.mediacol{
    margin-top: 3rem ;
}

.report, .time{
    margin-top: 2rem;
}
.recs{
    margin-top: 3rem;
}

#uparrow{
    position: absolute;
    margin-top: 2rem;
}

#downarrow{
    position: absolute;
    bottom: 2rem;
}

#task1head, #task2head, #task3head, #task4head, #task5head, #task6head{
    display: none;
}

#task1, #task2, #task3, #task4, #task5, #task6{
    display: none;
}
#task1img, #task2img, #task3img, #task4img, #task5img, #task6img{
    display: none;
}

.SUS-btn{
    background-color: grey;
}
